<a id='1'></a><center> <h3 style="background-color:orange; color:white" ><br>Python Data Structures<br></h3>

# `Types of Data Structures:`
* `List` | `Tuple`
* `Set` | `Dictionary`

|Data Structures type|Mutable|Comments|Indexing|Ordered|Duplicacy|
|----|----|----|----|----|----|
tuple ()|immutable|immutable version of list| possible|yes |allowed |
list []|mutable|-|possible |yes | allowed |
set {}|mutable| -|not |no |not |
dict {key:value}|mutable|-|possible |no |not  |

💫 `immutable` => `can't be changed` <br>
💫 `mutable` => `can be changed`

## Lists

### Create an empty list with the name ‘a’, print the value of a and type(a).

In [1]:
# create empty list, name it 'a'
a = []

In [2]:
# print the value of a

print(a)

[]

In [3]:
# print the type of a
print(type(a))

<class 'list'>

### Create a list , languages = ['R','Python', 'SAS', 'Scala', 42],

In [4]:
 languages = ['R','Python', 'SAS', 'Scala', 42]

Print the number of elements in the list

In [5]:
print(len(languages))

5

Using for loop iterate and print all the elements in the list

In [8]:
for language in languages:
  print(language)

R
Python
SAS
Scala
42

Select the second item, 'Python' and store it in a new variable named 'temp'

In [9]:
temp = languages[1]

Print the value of temp and type(temp)

In [10]:
print(temp)

Python

Append the element 'Java' in the list

In [12]:
languages.append('Java')
print(languages)

['R', 'Python', 'SAS', 'Scala', 42, 'Java', 'Java']

Remove the element 42 from the list and print the list

In [13]:
languages.remove(42)
print(languages)

['R', 'Python', 'SAS', 'Scala', 'Java', 'Java']

### Create a list, colors = [‘Red’, ‘Blue’, ‘White’]

In [15]:
colors = ['Red', 'Blue', 'White']

Append the element 'Black' to colors

In [17]:
colors.append('Black')
print(colors)

['Red', 'Blue', 'White', 'Black', 'Black']

Append the color 'Orange' to second position (index=1) and print the list

In [21]:
colors.insert(1,'Orange')

['Red', 'Orange', 'Orange', 'Blue', 'White', 'Black', 'Black']

Print the list

In [22]:
print(colors)

['Red', 'Orange', 'Orange', 'Blue', 'White', 'Black', 'Black']

Create another list, colors2 = [‘Grey’, ‘Sky Blue’]

In [23]:
colors2 = ['Grey','Sky Blue']

Add the elements of colors2 to colors using extend function in the list

In [24]:
colors.extend(colors2)

Print len of colors and its elements

In [28]:

print(len(colors))
for color in colors:
  print(color)

9
Red
Orange
Orange
Blue
White
Black
Black
Grey
Sky Blue

Sort the list and print it.

In [30]:
colors.sort()
print(colors)

['Black', 'Black', 'Blue', 'Grey', 'Orange', 'Orange', 'Red', 'Sky Blue', 'White']

### Create a string, sent = ‘Coronavirus Caused Lockdowns Around The World.”

In [36]:
sent = 'Coronavirus Caused Lockdowns Around The World'

Use split function to convert the string into a list of words and save it in variable words and print the same

In [37]:
words = sent.split()

print(words)

['Coronavirus', 'Caused', 'Lockdowns', 'Around', 'The', 'World']

Convert each word in the list to lower case and store it in variable words_lower. 
Print words_lower

In [41]:
words_lower = [word.lower() for word in words]

print(words_lower)

['coronavirus', 'caused', 'lockdowns', 'around', 'the', 'world']

Check whether ‘country’ is in the list

In [42]:
if 'country' in words_lower:
  print('True')
else:
  print('False')

False

Remove the element ‘the’ from the list and print the list.

In [43]:
words_lower.remove('the')
print(words_lower)

['coronavirus', 'caused', 'lockdowns', 'around', 'world']

Select the first 4 words from the list words_lower using slicing and store them in a new variable x4

In [44]:
x4 = words_lower[:4]

In [45]:
# print x4
print(x4)

['coronavirus', 'caused', 'lockdowns', 'around']

Convert the list of elements to single string using join function and print it

In [48]:
sentence = ''.join(x4)
print(sentence)

coronaviruscausedlockdownsaround

## Sets

### Create stud_grades = ['A','A','B','C','C','F']

In [49]:
stud_grades = ['A','A','B','C','C','F']

Print the len of stud_grades

In [50]:
print(len(stud_grades))

6

Create a new variable, stud_grades_set = set(stud_grades)

In [51]:
stud_grades_set = set(stud_grades)

Print stud_grades_set.

In [52]:

print(stud_grades_set)

{'C', 'B', 'A', 'F'}

print the type of stud_grades and stud_grades_set and print their corresponding elements. Try to understand the difference between them.

In [53]:

# Print the type of stud_grades
print(type(stud_grades))

# Print the type of stud_grades_set
print(type(stud_grades_set))

# Print the elements of stud_grades
print(stud_grades)

# Print the elements of stud_grades_set
print(stud_grades_set)

<class 'list'>
<class 'set'>
['A', 'A', 'B', 'C', 'C', 'F']
{'C', 'B', 'A', 'F'}

Add a new element ‘G’ to stud_grades_set

In [54]:
stud_grades_set.add('G')

Add element 'F' to stud_grades_set. and print it.

In [55]:
stud_grades_set.add('F')
print(stud_grades_set)

{'G', 'A', 'C', 'B', 'F'}

!!Did you notice? set doesn't add an element if it's already present in it, unlike lists.

Remove ‘F’ from stud_grades_set

In [56]:
stud_grades_set.remove('F')

Print the elements and the length of stud_grades_set

In [57]:
print(len(stud_grades_set))
print(stud_grades_set)

4
{'G', 'A', 'C', 'B'}

### Create colors = [‘red’,’blue’,’orange’], and fruits = [‘orange’,’grapes’,’apples’]

In [1]:
colors = ['red','blue','orange']
fruits = ['orange','grapes','apples']

Print color and fruits

In [2]:

print(colors)
print(fruits)

['red', 'blue', 'orange']
['orange', 'grapes', 'apples']

Create colors_set, and fruits_set. (using set() ) and print them

In [3]:
colors_set = set(colors)
fruits_set = set(fruits)

Find the union of both the sets.

In [4]:

print(colors_set.union(fruits_set))

{'grapes', 'apples', 'orange', 'red', 'blue'}

Find the intersection of both the sets

In [6]:
print(colors_set.intersection(fruits_set))

{'orange'}

Find the elements which are Fruits but not colors (using set.difference() )

In [7]:

print(colors_set.difference(fruits_set))

{'red', 'blue'}

## TUPLES

### Create temp = [17, ’Virat’, 50.0]

In [8]:
temp = [17,'Virat',50.0]

Iterate through temp and print all the items in temp

In [9]:

for item in temp:
    print(item)

17
Virat
50.0

replace first element with 11 in temp

In [12]:
temp[0] = 11

Set temp1 = tuple(temp)

In [13]:
temp1 = tuple(temp)

Iterate through temp1 and print all the items in temp1.

In [14]:
for items in temp:
  print(items)

11
Virat
50.0

replace first element with 17 in temp1

In [16]:
temp1[0] = 17

TypeError: ignored

<b>Oops!! You got an error. Hey Don't worry! Its because Once a tuple is created, you cannot change its values unlike list.</b>

### Create city = ("Bangalore", 28.9949521, 72)

In [17]:
city = ("Bangalore",28.9949521,72)

Print first element of city

In [20]:
print(city[0])

Bangalore

Create city2 = (‘Chennai’, 30.01, 74)

In [21]:
city2 = ("Chennai",30.01,74)

Create cities which consist of city and city2

In [23]:
cities = city + city2

Print cities

In [24]:
print(cities)

('Bangalore', 28.9949521, 72, 'Chennai', 30.01, 74)

Print type of first element in cities

In [25]:
first_element = cities[0]
element_type = type(first_element)

print(element_type)

<class 'str'>

print the type of cities

In [26]:
print(type(cities))

<class 'tuple'>

Hey that implies you made a nested tuples!!

## DICTIONARY

### Create a dictionary d = {"actor":"amir","animal":"cat","earth":2,"list":[23,32,12]}

In [28]:
d = {"actor":"amir","animal":"cat","earth":2,"list":[23,32,12]}

Print the value of d[0]

In [29]:
print(d[0])

KeyError: ignored

<b>Oops!! again an error. again a fun fact. Dictionary return the value for key if key is in the dictionary, else throws KeyError
and we don't have key 0 here :( </b>

Store the value of d[‘actor’] to a new variable actor.

In [31]:
actor = d["actor"]
print(actor)

amir

Print the type of actor

In [32]:
print(type(actor))

<class 'str'>

Store the value of d[‘list’] in new variable List.

In [33]:
List = d["list"]

Print the type of List.

In [35]:
print(type(List))

<class 'list'>

Create d1 = { ‘singer’ : ‘Kr$na’ , ‘album’: ‘Still here’, ‘genre’ : ‘hip-hop’}

In [37]:
 d1 = { 'singer' : 'Kr$na' , 'album': 'Still here', 'genre' : 'hip-hop'}

Merge d1 into d.

In [38]:
d.update(d1)

print d

In [39]:
print(d)

{'actor': 'amir', 'animal': 'cat', 'earth': 2, 'list': [23, 32, 12], 'singer': 'Kr$na', 'album': 'Still here', 'genre': 'hip-hop'}

Print all the keys in d

In [40]:
for key in d.keys():
  print(key)

actor
animal
earth
list
singer
album
genre

Print all the values in d

In [41]:
for value in d.values():
  print(value)

amir
cat
2
[23, 32, 12]
Kr$na
Still here
hip-hop

Iterate over d, and print each key, value pair as this - (actor ----> amir)

In [42]:
for key, value in d.items():
    print(f"{key} ----> {value}")

actor ----> amir
animal ----> cat
earth ----> 2
list ----> [23, 32, 12]
singer ----> Kr$na
album ----> Still here
genre ----> hip-hop

count the number of occurences of charachters in string named "sent" using dictionary and print the same.

In [44]:

sent = "Hello, World!"

char_counts = {}

for char in sent:
    if char in char_counts:
        char_counts[char] += 1
    else:
        char_counts[char] = 1

print(char_counts)

{'H': 1, 'e': 1, 'l': 3, 'o': 2, ',': 1, ' ': 1, 'W': 1, 'r': 1, 'd': 1, '!': 1}